<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sprint 1">
	<test thread-count="5" name="Login Functionality">
		<groups>
			<run>
				<include name="regression" />
				<exclude name="homepage" />
			</run>
		</groups>
		<classes>
			<class name="testNGPackage.Day01_TestNGLogin" />
			<class name="testNGPackage.Day01_TestNG" />
			<class name="testNGPackage.Day02_Priority" />
		</classes>
	</test> <!-- Login Functionality -->
</suite> <!-- Sprint 1 -->
